<section class="cart-section">
  <div class="container">
    <h1 class="cart-title">Cart (<span class="js-cart-numbers">0</span>)</h1>
    <!-- selected items -->
    <div class="all-cart-content js-cart-content">
      <div class="cart-container js-cart-container">
        <button class="delete-all js-delete-all">Delete all</button>
        <ul class="cart-list list js-cart-list"></ul>
      </div>
      <!-- order total and confirmation  -->
      <div class="order-container js-order-container"></div>
      <h2 class="order-title">Your order</h2>
    </div>
    <!-- empty cart -->
    <div class="empty-cart js-empty-cart visually-hidden">
      <picture class="empty-cart-image"></picture>
      <h3 class="empty-cart-title">
        Your basket is<span class="change-color"> empty...</span>
      </h3>
      <p class="empty-cart-text">
        Go to the main page to select your favorite products and add them to the
        cart.
      </p>
    </div>
  </div>
</section>
