<section class="cart-section">
  <div class="container">
    <h1 class="cart-title">
      <svg class="cart-icon" width="18" height="18">
        <use href="./img/icon-cart.svg"></use>
      </svg>   
      Cart (<span class="js-cart-numbers">0</span>)
    </h1>

  <!-- full cart -->
  <div class="cart-full">

    <!-- selected items -->
    <div class="selected-items js-selected-items">      
      <div class="delete js-cart-container">        
        <button class="delete-all-btn js-delete-all-btn">
          Delete all
          <svg class="" width="24" height="24">
            <use href="./img/icons.svg#icon-x-close"></use>
          </svg>
        </button>
        <ul class="cart-list list js-cart-list"></ul>
      </div>      
      <div class="order-container js-order-container"></div>
    </div>
      
    <!-- order total and confirmation  -->
    <div class="order js-order">
      <h2 class="order-title">Your order</h2>

    <div class="total">
      <div class="total-name">Total </div>
      <div class="total-price">00,00</div>
    </div>

    <form class="form">
      <div class="input-container">
        <label class="notation" for="email">Mail:</label>
        <input
          type="email"
          id="email"
          pattern=".{8,}"
          placeholder="Enter your email"
          autocomplete="email"
          title="valid@email.com"
          required
        />
      </div>
      <button class="order-btn" type="submit">Checkout</button>
    </form>
  </div>

  </div>

  <!-- empty cart -->
  <div class="empty-cart js-empty-cart visually-hidden">
    <picture class="empty-cart-image">
      <!-- Desktop screen 1440px -->
      <source
        media="(min-width: 1440px)"
        srcset="
          ./img/cart/basket-desc.webp    1x,
          ./img/cart/basket-desc@2x.webp 2x
        "
      />
      <!-- Tablet screen -->
      <source
        media="(min-width: 768px)"
        srcset="
          ./img/cart/basket-tablet.webp    1x,
          ./img/cart/basket-tablet@2x.webp 2x
        "
      />
      <!-- Mobile screen -->
      <source
        media="(max-width: 767px)"
        srcset="
          ./img/cart/basket-mob.webp    1x,
          ./img/cart/basket-mob@2x.webp 2x
        "
      />
      <img
        src="./img/cart/basket-mob.webp"
        alt="Empty Basket"
        width="132"
        height="114"
        loading="lazy"
      />
    </picture>
      <h3 class="empty-cart-title">
        Your basket is<span class="change-color"> empty...</span>
      </h3>
      <p class="empty-cart-text">
        Go to the main page to select your favorite products and add them to the
        cart.
      </p>
  </div>
   <!-- ======= SUCCESS MODAL ======= -->
   <div class="backdrop-cart-modal js-success visually-hidden" data-modal>
    <div class="success-modal">
      <div class="order-success-window">
        <button class="success-delete-btn js-close-success" data-modal-close>
          <svg class="" width="22" height="22">
            <use href="./img/icons.svg#icon-x-close"></use>
          </svg>
        </button>
        <img
          src="./img/cart/success.webp"
          alt="Success Order"
          width="140"
          height="140"
          loading="lazy"
        />
        <div class="success-text">
          <h2 class="success-title">Order success</h2>
          <p class="success-descr">
            Thank you for shopping at Food Boutique. Your order has been
            received and is now being freshly prepared just for you! Get ready
            to indulge in nourishing goodness, delivered right to your
            doorstep. We're thrilled to be part of your journey to better
            health and happiness.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
