<section class="filter">
  <div class="container">
    <p class="filters-text">Filters:</p>
    <div class="container-search">
      <form class="search-form" id="search">
        <label for="search-form" class="search-label">
          <input
            type="text"
            name="search-form"
            class="search-input"
            autocomplete="off"
            placeholder="Search for anything"
        /></label>
        <button class="search-button" type="submit">
          <svg class="search-icon">
            <use href="./img/icons.svg#icon-search"></use>
          </svg>
        </button>
      </form>
      <div class="select">
        <div class="select__header">
          <span class="select__current">Categories</span>
          <div class="select__icon">
            <svg class="down-icon">
              <use href="./img/icons.svg#icon-chevron-down"></use>
            </svg>
          </div>
        </div>

        <div class="select__body">
          <div class="select__item">Show all</div>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="/partials/JS/filters.js" type="module"></script>
<script src="../js/search.js" type="module"></script>