<footer class="footer container-footer">
  <div class="footer-wrap">
    <div class="logo-social">
      <div class="footer-logo">
        <a class="footer-logo-link" href="./index.html">
          <svg class="footer-svg" width="16" height="16">
            <use class="footer-use" href="./img/header_hero_icons.svg#icon-logo"></use>
          </svg>
        </a>
        <p class="logo-text">Food Boutique</p>
      </div>

      <div class="social">
        <ul class="social-list">
          <li class="social-item">
            <a
              class="social-link"
              href="https://www.facebook.com/goITclub/"
              target="_blank"
            >
              <svg class="social-svg" width="24" height="24">
                <use href="../img/footer.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a
              class="social-link link"
              href="https://www.instagram.com/goitclub/"
              target="_blank"
            >
              <svg class="social-svg" width="24" height="24">
                <use href="../img/footer.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a
              class="social-link link"
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
            >
              <svg class="social-svg" width="24" height="24">
                <use href="../img/footer.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="motto-subscription">
      <div class="company-motto">
        <h3>Discover the Variety of Flavors and Quality</h3>
        <p>
          An online store where you will find fresh, natural and delicious
          products for a healthy life and unforgettable gastronomic adventures.
        </p>
      </div>

      <div class="subscription">
        <p class="subscription-text">Subscribe and learn about new products!</p>
        <form class="subscription-form">
          <input
            class="subscription-input"
            type="email"
            name="email"
            id="user-email"
            placeholder="Email"
            required
            pattern="@"
          />
          <button type="submit" class="btn-subscription">Send</button>
        </form>
      </div>
    </div>
  </div>
  <div class="footer-text">
    <div class="rights">
      <p>Food Boutique. All rights reserved.</p>
    </div>
    <ul class="policy">
      <li>Privacy Policy</li>
      <li>/</li>
      <li>Terms of Service</li>
    </ul>
  </div>
</footer>
