<footer class="footer">
  <div class="footer-wrap container">
    <div class="logo-social">
      <div class="footer-logo">
        <a
          class="footer-logo-link"
          aria-label="Logo of our site. Go to the main page"
          href="./index.html"
        >
          <svg class="footer-svg" width="16" height="16">
            <use class="footer-use" href="/img/icons.svg#icon-logo"></use>
          </svg>
        </a>
        <p class="logo-text">Food Boutique</p>
      </div>

      <div class="social">
        <ul class="social-list">
          <li class="social-item">
            <a
              class="social-link"
              href="https://www.facebook.com/goITclub/"
              aria-label="Transition to the Facebook social network is our club"
              target="_blank"
            >
              <svg class="social-svg" width="24" height="24">
                <use href="/img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a
              class="social-link link"
              href="https://www.instagram.com/goitclub/"
              aria-label="Transition to the Instagram social network is our club"
              target="_blank"
            >
              <svg class="social-svg" width="24" height="24">
                <use href="/img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a
              class="social-link link"
              href="https://www.youtube.com/c/GoIT"
              aria-label="Transition to the Youtube social network is our club"
              target="_blank"
            >
              <svg class="social-svg" width="24" height="24">
                <use href="/img/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="motto-subscription">
      <div class="company-motto">
        <h3>Discover the Variety of Flavors and Quality</h3>
        <p>
          An online store where you will find fresh, natural and delicious
          products for a healthy life and unforgettable gastronomic adventures.
        </p>
      </div>

      <div class="subscription">
        <p class="subscription-text-footer">
          Subscribe and learn about new products!
        </p>
        <form class="subscription-form">
          <input
            class="subscription-input"
            type="email"
            name="email"
            id="user-email"
            placeholder="Email"
            required
          />
          <button type="submit" class="btn-subscription">Send</button>
        </form>
      </div>
    </div>
  </div>
  <div class="footer-text container">
    <div class="rights">
      <p>Food Boutique. All rights reserved.</p>
    </div>
    <ul class="policy">
      <li>Privacy Policy</li>
      <li>/</li>
      <li>Terms of Service</li>
    </ul>
  </div>
</footer>
<script src="./js/footer.js" type="module"></script>
<!--  -->
<div class="subscription-alert is-hidden">
  <div class="subscription-success">
    <div class="subscription-modal-success">
      <button
        type="button"
        class="subscription-success-close-button"
        data-modal-close
      >
        <svg class="subscription-closemodal" width="20" height="20">
          <use href="/img/icons.svg#icon-x-close"></use>
        </svg>
      </button>
      <div class="subscription-success-text">
        <div class="subscription-thanks">
          Thanks for subscribing for
          <span class="subscription-highlight">new</span> products
        </div>
        <div class="subscription-text">
          We promise you organic and high-quality products that will meet your
          expectations. Please stay with us and we promise you many pleasant
          surprises.
        </div>
      </div>
      <div class="subscription-img"></div>
    </div>
  </div>

  <div class="subscription-already-subscribed">
    <div class="subscription-modal-already-subscribed">
      <button
        type="button"
        class="subscription-already-close-button"
        data-modal-close
      >
        <svg class="subscription-closemodal" width="20" height="20">
          <use href="/img/icons.svg#icon-x-close"></use>
        </svg>
      </button>
      <div class="subscription-fail-text">
        <div class="subscription-thanks">
          This <span class="subscription-highlight">email address</span> has
          already been entered
        </div>
        <div class="subscription-text">
          You have already subscribed to our new products. Watch for offers at
          the mailing address.
        </div>
      </div>
    </div>
  </div>

  <div class="subscription-fail">
    <div class="subscription-modal-fail">
      <button
        type="button"
        class="subscription-fail-close-button"
        data-modal-close
      >
        <svg class="subscription-closemodal" width="20" height="20">
          <use href="/img/icons.svg#icon-x-close"></use>
        </svg>
      </button>
      <div class="subscription-fail-text">
        <div class="subscription-thanks">
          Some error happened. Please check is your
          <span class="subscription-highlight">email address</span> correct or
          try again later.
        </div>
      </div>
    </div>
  </div>
</div>
