<header class="header">
    <div class="container">
      <div>
          <a href="../index.html" aria-label="Open Site" class="header-logo">
              <svg class="logo" width="16" height="16">
                <use href="./img/header_hero_icons.svg#icon-logo"></use>
              </svg>
              <p class="logo-name" style="font-family: 'Quincy CF Black Regular';">Food Boutique</p>
          </a>
      </div>
      <div class="nav">
        <ul class="nav-container">
          <li>
            <a href="../index.html" class="home">
                Home</a>
          </li>
          <li>
            <a href="../cart.html" class="cart">
                <svg class="logo-cart" width="14" height="14">
                    <use href="./img/header_hero_icons.svg#icon-cart"></use>
                </svg> 
                <p class="cart-counter">
                    Cart <span id="cart-count">(0</span>) 
                </p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </header>