<header class="header animate__animated animate__fadeInLeft">
    <div class="container">
      <div>
          <a href="./index.html" aria-label="Food Boutique" class="header-logo">
              <svg class="logo" width="16" height="16">
                <use href="/img/icons.svg#icon-logo"></use>
              </svg>
              <p class="logo-name">Food Boutique</p>
          </a>
      </div>
      <div class="nav">
        <ul class="nav-container">
          <li>
            <a href="./index.html" class="home">
                Home</a>
          </li>
          <li>
            <a href="./cart.html" class="cart" aria-label="Basket">
                <svg class="logo-cart" width="14" height="14">
                    <use href="/img/icons.svg#icon-shop-cart"></use>
                </svg> 
                <p class="cart-counter">
                    Cart (<span id="cart-count">0</span>) 
                </p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  <script src="./js/header.js" type="module"></script>
</header>