<section class="hero">
    <div class="hero-section">
        <h1 class="hero-title">Welcome to the <p class="accent-word">Food</p> Boutique! </h1>
        <p class="hero-text">With Food Boutique, you're not just subscribing to food, you're signing up for a fresher, fitter, and happier you.</p>
        <div class="hero-image">
            <div>
                <p class="organic-food">
                    <svg class="leaf-icon" width="24" height="24">
                        <use href="./img/header_hero_icons.svg#icon-leaf"></use>
                    </svg>
                    organic food organic food
                </p>
            </div>
        </div>
    </div>
</section>