<header class="header">
    <div class="container">
      <div class="header-logo">
          <a href="../index.html" aria-label="Open Site">
              <svg class="logo" width="28" height="28">
                <use href="../img/icons_header_hero.svg#icon-logo"></use>
              </svg>
              <p class="logo-name">Food Boutique</p>
          </a>
      </div>
      <div class="nav">
        <ul>
          <li>
            <svg class="logo" width="28" height="28">
              <use href="../img/icons_header_hero.svg#icon-logo"></use>
            </svg>
            <a href="../index.html">Home</a>
          </li>
          <li>
            
            <a href="../index.html">Cart</a>
          </li>
        </ul>
      </div>
    </div>
  </header>
  <section class="hero">
    <h1>Welcome to the <p class="accent-word">Food</p> Boutique! </h1>
  </section>