<section class="hero">
    <div class="container">
        <h1 class="hero-title animate__animated animate__fadeInDown">Welcome to the <span class="accent-word">Food</span> Boutique!</h1>
        <p class="hero-text animate__animated animate__fadeInDown">With Food Boutique, you're not just subscribing to food, you're signing up for a fresher, fitter, and happier you.</p>
        <div class="hero-image">
            <div class="images">
                <picture>
                    <source media="(max-width: 767px)" srcset="/img/header_hero_ing/hero-mob1.webp, /img/header_hero_ing/hero-mob1@2x.webp 2x" width="335"
                    height="480">
                    <source media="(min-width: 768px) and (max-width: 1439px)" srcset="/img/header_hero_ing/hero-tablet1.webp, /img/header_hero_ing/hero-tablet1@2x.webp 2x">
                    <source media="(min-width: 1440px)" srcset="/img/header_hero_ing/hero-desct1.webp, /img/header_hero_ing/hero-desct1@2x.webp 2x">
                    <img src="/img/header_hero_ing/hero-mob1.webp" alt="Hero Image">
                </picture>
            </div>
            <svg class="organic-food" width="100" height="100" aria-label="Organic Food">
                <use href="/img/icons.svg#icon-organic-food"></use>
            </svg>
            <svg class="leaf" width="24" height="24" aria-label="Organic Food Text">
                <use href="/img/icons.svg#icon-circle-leaf"></use>
            </svg>
        </div>
    </div>
</section>