<header class="header">
    <div class="container">
      <div>
          <a href="../index.html" aria-label="Open Site" class="header-logo">
              <svg class="logo" width="16" height="16">
                <use href="../img/header_hero_icons.svg#icon-logo"></use>
              </svg>
              <p class="logo-name" style="font-family: 'Quincy CF Black Regular';">Food Boutique</p>
          </a>
      </div>
      <div class="nav">
        <ul>
          <li>
            <a href="../index.html">
                <svg class="logo-cart" width="14" height="14">
                    <use href="../img/header_hero_icons.svg#icon-cart"></use>
                  </svg>
                Home</a>
          </li>
          <li>
            
            <a href="../index.html">Cart</a>
          </li>
        </ul>
      </div>
    </div>
  </header>
  <section class="hero">
    <h1>Welcome to the <p class="accent-word">Food</p> Boutique! </h1>
  </section>