<section class="product-list-section">
    <div class="container-pl">
        <ul class="product-list">
            <div class="error-load">
                <h3 class="not-found-heading">Nothing was found for the selected <span
                        class="green-word">filters...</span></h3>
                <p class="not-found-message">Try adjusting your search parameters or browse our range by other criteria
                    to
                    find
                    the perfect
                    product for
                    you.</p>
            </div>
        </ul>
    </div>
</section>
<script src="/partials/JS/products.js" type="module"></script>