<section class="product-list-section">
    <div class="container container-pl">
        <ul class="product-list">
            <!-- <p class="visually-hidden">Nothing was found for the selected <span class="green-word">filters...</span></p>
        <p class="visually-hidden">Try adjusting your search parameters or browse our range by other criteria to find
            the perfect
            product for
            you.</p> -->
        </ul>
    </div>
</section>
<script src="/partials/JS/products.js" type="module"></script>