<section class="product-list-section">
    <div class="container-pl">
        <ul class="product-list">
        </ul>
        <div class="error-load">
            <h2 class="not-found-heading">Nothing was found for the selected <span class="green-word">filters...</span>
            </h2>
            <p class="not-found-message">Try adjusting your search parameters or browse our range by other criteria
                to
                find
                the perfect
                product for
                you.</p>
        </div>
    </div>
</section>
<script src="./js/products.js" type="module"></script>