<!--Модальне вікно для корзини при успішному запиті на сервер-->
<div class="backdrop-cart-modal js-success visually-hidden" data-modal>
  <div class="success-modal">
    <div class="order-success-window">
      <button class="success-delete-btn js-close-success" data-modal-close>
        <svg class="" width="22" height="22">
          <use href="/img/icons.svg#icon-x-close"></use>
        </svg>
      </button>
      <img
        src="/img/cart/success.webp"
        alt="Success Order"
        width="140"
        height="140"
        loading="lazy"
      />
      <div class="success-text">
        <h2 class="success-title">Order success</h2>
        <p class="success-descr">
          Thank you for shopping at Food Boutique. Your order has been received
          and is now being freshly prepared just for you! Get ready to indulge
          in nourishing goodness, delivered right to your doorstep. We're
          thrilled to be part of your journey to better health and happiness.
        </p>
      </div>
    </div>
  </div>
</div>

<!--Модальне вікно для корзини при invalid email-->
<div class="backdrop-cart-modal js-invalid-email visually-hidden" data-modal>
  <div class="fail-modal">
    <div class="order-fail-window">
      <button
        class="success-delete-btn js-close-invalid-email"
        data-modal-close
      >
        <svg class="" width="22" height="22">
          <use href="/img/icons.svg#icon-x-close"></use>
        </svg>
      </button>
      <img
        src="/img/cart/banan.png"
        alt="Success Order"
        width="100"
        height="100"
        loading="lazy"
      />
      <div class="success-text">
        <h2 class="fail-title">Invalid email address!</h2>
        <p class="success-descr">Please enter a valid email address!</p>
      </div>
    </div>
  </div>
</div>
