.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.cart-section .container {
  padding: 36px 20px 120px 20px;
}

.cart-title {
  font-family: 'Neue Montreal';
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.16;
  text-transform: uppercase;
  margin-bottom: 88px;
}
@media only screen and (min-width: 768px) {
  .cart-title {
    font-size: 32px;
    /* margin-top: 99px; */
    margin-bottom: 88px;
  }
  .cart-section .container {
    padding: 100px 32px 100px 32px;
  }
}
@media only screen and (min-width: 1440px) {
  .cart-title {
    /* margin-top: 77px; */
    margin-bottom: 82px;
  }
  .cart-section .container {
    padding: 100px 100px 100px 100px;
  }
}
.cart-form {
  margin: 0;
}
@media only screen and (min-width: 768px) {
  .cart-form {
    display: flex;
    gap: 16px;
  }
}

.cart-icon {
  /* display: inline-flex; */
  justify-content: center;
  align-items: center;
  fill: var(--color-bckg);
  background-color: var(--color-btn);
  border-radius: 30px;

  width: 38px;
  height: 38px;
  padding: 10px;
  margin-right: 14px;
}
@media only screen and (min-width: 768px) {
  .cart-icon {
    width: 42px;
    height: 42px;
    padding: 12px;
  }
  .form {
    display: flex;
    justify-content: space-between;
  }
}

.cart-full {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  /* visibility: hidden; */
}

.delete-all {
  font-family: 'Neue Montreal';
  display: flex;
  width: 64px;
  height: 20px;
  color: #010101;
  font-size: 16px;
  font-style: 'Neue ';
  font-weight: 500;
  line-height: 1.25; /* 125% */
  z-index: 5;
}
.delete {
  font-family: 'Neue Montreal';
  display: flex;
  margin-bottom: 80px;
  position: relative;
  width: 100%;
  max-height: 465px;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.delete-all-btn {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: #010101;
  fill: #010101;
  background: transparent;
  border: none;
  /* position: absolute;
  top: -52px;
  right: 12px; */
  padding: 0;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background: rgba(109, 132, 52, 0.05);
  border-radius: 8px;
  padding: 14px 18px;

  margin-bottom: 30px;
}
.total-name {
  padding-top: 8px;
  color: #010101;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2px; /* 120% */
}
.total-price {
  color: #010101;
  font-size: 24px;
  font-family: 'Neue Montreal';
  font-weight: 500;
  line-height: 1; /* 100% */
}
.checkout-input {
  display: inline-flex;
  font-size: 14px;
  padding: 12px 30px;
  justify-content: center;
  align-items: center;
  margin-bottom: 14px;
  /* gap: 8px; */
  /* width: 369px; */
  /* height: 54px; */
  border-radius: 30px;
  border: 1px solid rgba(1, 1, 1, 0.3);
}
.checkout-button {
  display: inline-flex;
  font-size: 14px;
  padding: 12px 30px;
  justify-content: center;
  align-items: center;
  /* gap: 10px; */
  background-color: var(--color-btn);
  border-radius: 30px;

  color: var(--color-bckg);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2; /* 120% */
}

.empty-cart {
  visibility: visible;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.empty-cart-image {
  margin-top: 12px;
  margin-bottom: 28px;
  width: 132px;
  height: 114px;
}
.empty-cart-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
  margin-bottom: 14px;
}
.change-color {
  color: var(--color-btn);
  /* font-family: Neue Montreal; */
  /* font-size: 20px; */
  /* font-style: normal; */
  font-weight: 500;
  line-height: 1.11;
}
.empty-cart-text {
  color: rgba(1, 1, 1, 0.7);
  width: 279px;
  font-size: 14px;
  line-height: 1.29;

  text-align: center;
}

.order-title {
  text-transform: uppercase;
  font-family: Neue Montreal;
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.16;
}

/*Стилізація розмітки кошика */

.cart-list {
  width: 100%;
}

.selectedProduct {
  display: flex;
  flex-direction: row;
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
}
.product-picture {
  border-radius: 10px;
  background: #fafafa;
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  margin-right: 20px;
  padding: 24px;
}
.info-header {
  font-family: 'Neue Montreal';
  display: flex;
  flex-direction: row;
}
.product-name {
  font-family: 'Neue Montreal';
  color: #010101;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  /* margin-right: 243px; */
}
.delete-btn {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #010101;
  fill: #010101;
  background: transparent;
  border: none;
  position: absolute;
  top: 14px;
  right: 0px;
  padding: 0;
}
.product-info {
  font-family: 'Neue Montreal';
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-top: 10px;
  margin-bottom: 46px;
}
.info-quality {
  font-family: 'Neue Montreal';
  color: rgba(1, 1, 1, 0.3);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 116.667% */
  margin-right: 4px;
  padding: 2 px 0;
}
.info-value {
  font-family: 'Neue Montreal';
  margin-left: 4px;
  color: #010101;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
}
.price {
  font-family: 'Neue Montreal';
  color: #010101;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
}

.cart-form {
  margin: 0;
}
@media only screen and (min-width: 768px) {
  .cart-form {
    display: flex;
    gap: 16px;
  }
  .empty-cart-image {
    width: 164px;
    height: 140px;
    margin-bottom: 40px;
    margin-top: 42px;
  }
  .total {
    margin-bottom: 54px;
  }
  .product-picture {
    width: 120px;
    height: 120px;
    margin-right: 40px;
  }
}
.input-container {
  padding: 12px 20px;
  border-radius: 30px;
  border: 1px solid rgba(1, 1, 1, 0.3);

  margin-bottom: 14px;
}
.usd-letter {
  color: #010101;
  font-family: Neue Montreal;
  font-size: 24px;
  font-weight: 500;
  line-height: 1; /* 100% */
}
@media only screen and (min-width: 768px) {
  .input-container {
    display: inline-flex;
    padding: 15px 20px;
    margin-bottom: 0;
    min-width: 359px;
    width: 100%;
    margin-right: 16px;
  }
  .order-title {
    font-size: 32px;
  }
}
@media only screen and (min-width: 1440px) {
  .input-container {
    display: inline-flex;
    justify-content: center;
    align-items: baseline;
  }
  .cart-full {
    flex-direction: row;
    display: flex;
    gap: 101px;
  }
  .delete-all-btn {
    font-size: 16px;
  }
  .empty-cart-image {
    margin-top: 80px;
    /* .cart-title {
    margin-bottom: 155px;
  } */
  }
}
.input-container:hover,
.input-container:focus-within {
  border: 1px solid var(--color-btn);
}

.input-container #email {
  color: #010101;
  line-height: 1.28;

  background-color: inherit;
  border: none;
  width: 88%;
}
.input-container #email:focus {
  outline: none;
}
@media only screen and (min-width: 768px) {
  .input-container #email {
    line-height: 1.33;
  }
}

#email,
#email::placeholder {
  color: #010101;
  font-family: Neue Montreal;
  font-size: 18px;
  line-height: 1.13;
}
@media only screen and (min-width: 768px) {
  #email,
  #email::placeholder {
    font-size: 18px;
  }

  .total-price {
    font-size: 32px;
  }
}

.input-container .notation {
  font-size: 18px;
  line-height: 1.28;
  color: rgba(1, 1, 1, 0.5);
  font-family: Neue Montreal;
  margin-right: 8px;
}

.order-btn {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.28;

  padding: 12px 0;
  width: 100%;
  color: var(--color-bckg);
  background: var(--color-btn);
  border: none;
  border-radius: 30px;
}
.order-btn:active {
  background: E8E8E2;
}

@media only screen and (min-width: 768px) {
  .order-btn {
    font-size: 20px;
    line-height: 1.2;

    padding: 15px 65px;
    width: auto;
  }
}

.selectedProduct:not(:last-child) {
  border-bottom: 1px solid rgba(1, 1, 1, 0.1);
  padding-bottom: 30px;
  position: relative;
}

@media only screen and (min-width: 768px) {
  .delete {
    max-height: 560px;
  }
  .usd-letter {
    font-size: 32px;
  }
}

/*===== Success Modal =====*/
.success-modal {
  width: 335px;
  height: 428px;
  position: absolute;
  float: left;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.backdrop-cart-modal > .container {
  min-width: 280px;
  max-width: 335px;
}

.backdrop-cart-modal {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(1, 1, 1, 0.4);
}

.backdrop-cart-modal.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* @media only screen and (min-width: 375px) {
  .success-modal {
    width: 335px;
  }
} */

.order-success-window {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  height: auto;

  border-radius: 20px;
  background: var(--color-bckg);
  padding: 40px 20px 60px;

  position: relative;

  margin-left: auto;
  margin-right: auto;
}
.order-success-window img {
  margin-bottom: 40px;
}
.success-img {
  margin-bottom: 40px;
}

.success-text {
  font-family: Neue Montreal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  min-width: auto;
  /* max-width: 295px; */
}

.success-title {
  font-family: Neue Montreal;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
  text-transform: uppercase;
}

.success-descr {
  font-family: Neue Montreal;
  color: rgba(1, 1, 1, 0.7);
  text-align: center;
  font-size: 14px;
  line-height: 1.28;
}

.success-delete-btn {
  border: 0;
  fill: var(--color-btn-up-fill);
  color: var(--color-btn-up-fill);
  background: transparent;
  position: absolute;
  top: 14px;
  right: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
}

.success-delete-btn:hover,
.success-delete-btn:focus {
  background-color: transparent;
}

.cart-delete__wrap {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 15px;
}
.total .notation {
  color: rgba(1, 1, 1, 0.3);
  font-size: 12px;
  line-height: 1.16;
  margin-right: 4px;
}

.sum-full {
  display: flex;
  align-items: baseline;
}
@media only screen and (min-width: 768px) {
  .success-modal {
    width: 560px;
    height: 509px;
  }
  .success-title {
    font-size: 32px;
  }
  .success-descr {
    font-size: 18px;
  }
  .order-success-window {
    padding: 80px 40px;
  }
}
