/* .cart-section {
  outline: 2px dashed red;
}
.container {
} */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.cart-section .container {
  padding-top: 100px;
  padding-bottom: 120px;
}

.cart-title {
  display: flex;
  align-items: center;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.16;
  text-transform: uppercase;
  margin-bottom: 88px;
}
@media only screen and (min-width: 768px) {
  .cart-title {
    font-size: 32px;
    margin-top: 99px;
    margin-bottom: 88px;
  }
}
@media only screen and (min-width: 1440px) {
  .cart-title {
    margin-top: 77px;
    margin-bottom: 105px;
  }
}
.cart-form {
  margin: 0;
}
@media only screen and (min-width: 768px) {
  .cart-form {
    display: flex;
    gap: 16px;
  }
}

.cart-icon {
  /* display: inline-flex; */
  justify-content: center;
  align-items: center;
  fill: #e8e8e2;
  background-color: #6d8434;
  border-radius: 30px;

  width: 38px;
  height: 38px;
  padding: 10px;
  margin-right: 14px;
}
@media only screen and (min-width: 768px) {
  .cart-icon {
    width: 42px;
    height: 42px;
    padding: 12px;
  }
}

.cart-full {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  /* visibility: hidden; */
}

.delete {
  display: flex;
  flex-direction: row;
}
.delete-all {
  display: flex;
  width: 64px;
  height: 20px;
  color: #010101;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25; /* 125% */
}
.delete {
  display: flex;
  margin-bottom: 80px;
  position: relative;
  width: 100%;
}

.delete-all-btn {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: #010101;
  fill: #010101;
  background: transparent;
  border: none;
  position: absolute;
  top: -52px;
  right: 12px;
  padding: 0;
}

/* .cart-list {
}
.list {
} */

.total {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background: rgba(109, 132, 52, 0.05);
  border-radius: 8px;
  padding: 14px 18px;

  margin-bottom: 30px;
}
.total-name {
  padding-top: 8px;
  color: #010101;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2px; /* 120% */
}
.total-price {
  color: #010101;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 100% */
}
.checkout-input {
  display: inline-flex;
  font-size: 14px;
  padding: 12px 30px;
  justify-content: center;
  align-items: center;
  margin-bottom: 14px;
  /* gap: 8px; */
  /* width: 369px; */
  /* height: 54px; */
  border-radius: 30px;
  border: 1px solid rgba(1, 1, 1, 0.3);
}
.checkout-button {
  display: inline-flex;
  font-size: 14px;
  padding: 12px 30px;
  justify-content: center;
  align-items: center;
  /* gap: 10px; */
  background-color: #6d8434;
  border-radius: 30px;

  color: #e8e8e2;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2; /* 120% */
}

.empty-cart {
  visibility: visible;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.empty-cart-image {
  margin-top: 105px;
  margin-bottom: 28px;
}
.empty-cart-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
  margin-bottom: 14px;
}
.change-color {
  color: #6d8434;
  /* font-family: Neue Montreal; */
  /* font-size: 20px; */
  /* font-style: normal; */
  font-weight: 500;
  line-height: 1.11;
}
.empty-cart-text {
  color: rgba(1, 1, 1, 0.7);
  width: 279px;
  font-size: 14px;
  line-height: 1.29;

  text-align: center;
}

.order-title {
  text-transform: uppercase;
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.16;
}

.order-success-window {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  height: auto;

  border-radius: 20px;
  background: #e8e8e2;
  padding: 40px 20px 60px;

  position: relative;

  margin-left: auto;
  margin-right: auto;
}

.success-img {
  margin-bottom: 40px;
}

.success-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  min-width: auto;
  max-width: 295px;
}

.success-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
  text-transform: uppercase;
}

.success-descr {
  color: rgba(1, 1, 1, 0.7);
  text-align: center;
  font-size: 14px;
  line-height: 1.28;
}

.success-delete-btn {
  fill: var(--color-text);
  color: var(--color-text);
  background: transparent;
  position: absolute;
  top: 14px;
  right: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
}

.success-delete-btn:hover,
.success-delete-btn:focus {
  background-color: transparent;
}

.input-container {
  /* display: flex; */
  padding: 12px 20px;
  border-radius: 30px;
  border: 1px solid rgba(1, 1, 1, 0.3);
  margin-bottom: 14px;
}
@media only screen and (min-width: 768px) {
  .input-container {
    display: inline-flex;
    padding: 15px 20px;
    margin-bottom: 0;
    min-width: 359px;
    /* width: 100%; */
  }
}
@media only screen and (min-width: 1272px) {
  .input-container {
    display: inline-flex;
    justify-content: center;
    align-items: baseline;
  }
}

.input-container:hover,
.input-container:focus-within {
  border: 1px solid #6d8434;
}

.input-container #email {
  color: #010101;
  line-height: 1.28;

  background-color: inherit;
  border: none;
  width: 88%;
}
.input-container #email:focus {
  outline: none;
}
@media only screen and (min-width: 768px) {
  .input-container #email {
    line-height: 1.33;
  }
}

#email,
#email::placeholder {
  color: var(--color-text);
  font-size: 14px;

  opacity: 1;
}
@media only screen and (min-width: 768px) {
  #email,
  #email::placeholder {
    font-size: 18px;
  }
}

.input-container .notation {
  font-size: 14px;
  line-height: 1.28;
}
@media only screen and (min-width: 768px) {
  .input-container .notation {
    font-size: 18px;
    line-height: 1.33;
  }
}

.order-btn {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;

  padding: 12px 0;
  width: 100%;
  color: var(--color-bckg);
  background: var(--color-btn);
  border: none;
  border-radius: 30px;
}
@media only screen and (min-width: 768px) {
  .order-btn {
    font-size: 20px;
    line-height: 1.2;

    padding: 15px 65px;
    width: auto;
  }
}
