@media screen and (min-width: 1440px) {
  .prod-container {
    display: flex;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/*---BASE styles-----*/

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .discount-list {
    display: flex;
    gap: 32px;
  }
}

.discount-title {
  color: var(--color-text);
  font-family: 'Neue Montreal';
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.16em;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .discount-title {
    font-size: 28px;
    line-height: 1.14em;
  }
}

.icon-discount {
  position: absolute;
  top: 3px;
  right: 10px;
  width: 60px;
  height: 60px;
  /* fill: var(--color-bckg); */
  transform: scale(0);
  transform-origin: center;
  animation: shineAnimation 2s ease-in-out infinite;
}

@keyframes shineAnimation {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}

.discount-item:hover,
.discount-item:focus {
  box-shadow: 0px 9.1px 16.534px 0px rgba(0, 0, 0, 0.02),
    0px 41.6px 46.475px 0px rgba(0, 0, 0, 0.04),
    0px 105.3px 124.678px 0px rgba(0, 0, 0, 0.05),
    0px 208px 286px 0px rgba(0, 0, 0, 0.07);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.discount-item {
  position: relative;
  padding: 16px 15px 16px 16px;
  max-width: 335px;
  height: 232px;
  border-radius: 15px;
  background: var(--color-card-bckg);
  margin-bottom: 20px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .discount-item {
    width: 336px;
    padding-right: 16px;
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1440px) {
  .discount-item {
    margin-bottom: 20px;
    width: 275px;
  }
}

.discount-item:last-child {
  margin-bottom: 0px;
}

@media only screen and (min-width: 768px) and (max-width: 1439px) {
  .section-four-item:last-child {
    margin-bottom: 0px;
  }
}

.discount-item-img {
  display: flex;
  margin: auto;
  max-width: 304px;
  height: 150px;
  border-radius: 10px;
  background: var(--color-bckg);
}

@media screen and (min-width: 1440px) {
  .discount-item-img {
    width: 243px;
  }
}

.discount-img {
  margin: auto;
  width: 114px;
  height: 114px;
}

@media screen and (min-width: 1440px) {
  .discount-img {
    width: 105px;
    height: 105px;
  }
}

.info-title {
  color: var(--color-text);
  font-family: 'Neue Montreal';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.11em;
}

@media screen and (min-width: 768px) {
  .info-title {
    font-size: 20px;
    line-height: 1.2em;
  }
}

@media screen and (min-width: 1440px) {
  .info-title {
    width: 124px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }
}

.info-price {
  color: var(--color-text);
  font-family: 'Neue Montreal';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.11em;
}

@media screen and (min-width: 768px) {
  .info-price {
    font-size: 20px;
    line-height: 1.2em;
  }
}

.discont-info {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
  align-items: center;
}

.discont-info-dop {
  display: flex;
  gap: 8px;
  align-items: center;
}

.info-div {
  width: 34px;
  height: 34px;
}

.info-title-link {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0px;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: var(--color-btn);
}

.info-title-link:not([disabled]):hover,
.info-title-link:not([disabled]):focus {
  background-color: var(--color-btn-active);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.img-svg-osnova {
  width: 18px;
  height: 18px;
  fill: var(--color-bckg);
}
