@media screen and (min-width: 1440px) {
  .prod-container {
    display: flex;
  }
}

/* .products {
  width: 925px;
} */

.section-products {
  /* padding-top: 40px; */
}

@media screen and (min-width: 768px) {
  .section-products {
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/*---BASE styles-----*/

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .discount-list {
    display: flex;
    gap: 32px;
  }
}

.discount-title {
  color: #010101;
  font-family: Neue Montreal;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .discount-title {
    font-size: 28px;
    line-height: 32px;
  }
}

.icon-discount {
  position: absolute;
  top: 3px;
  right: 10px;
  width: 60px;
  height: 60px;
  /* fill: #e8e8e2; */
}

.discount-item {
  position: relative;
  padding: 16px 15px 16px 16px;
  max-width: 335px;
  height: 232px;
  border-radius: 15px;
  background: #fafafa;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .discount-item {
    width: 336px;
    padding-right: 16px;
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1440px) {
  .discount-item {
    margin-bottom: 20px;
    width: 275px;
  }
}

.discount-item:last-child {
  margin-bottom: 0px;
}

@media only screen and (min-width: 768px) and (max-width: 1439px) {
  .section-four-item:last-child {
    margin-bottom: 0px;
  }
}

.discount-item-img {
  display: flex;
  margin: auto;
  max-width: 304px;
  height: 150px;
  border-radius: 10px;
  background: #e8e8e2;
}

@media screen and (min-width: 1440px) {
  .discount-item-img {
    width: 243px;
  }
}

.discount-img {
  margin: auto;
  width: 114px;
  height: 114px;
}

@media screen and (min-width: 1440px) {
  .discount-img {
    width: 105px;
    height: 105px;
  }
}

.info-title {
  color: #010101;
  font-family: Neue Montreal;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

@media screen and (min-width: 768px) {
  .info-title {
    font-size: 20px;
    line-height: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .info-title {
    width: 124px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.info-price {
  color: #010101;
  font-family: Neue Montreal;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

@media screen and (min-width: 768px) {
  .info-price {
    font-size: 20px;
    line-height: 24px;
  }
}

.discont-info {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
  align-items: center;
}

.discont-info-dop {
  display: flex;
  gap: 8px;
  align-items: center;
}

.info-div {
  width: 34px;
  height: 34px;
}

.info-title-link {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0px;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: #6d8434;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.info-title-link:not([disabled]):hover {
  background-color: #586f1f;
}

.img-svg-osnova {
  width: 18px;
  height: 18px;
  fill: #e8e8e2;
}
