ul,
p,
h1,
h2,
h3,
a {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}
.link {
  text-decoration: none;
}

.footer {
  background: #6d8434;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-between; */
}
.logo {
  padding-top: 44px;
  margin-bottom: 24px;
  display: flex;
  gap: 8px;
  justify-content: flex-start;
align-items: center;
}
/* .footer-logo {
  color: #e8e8e2;
  font-size: 18px;
  font-weight: 900;
  line-height: 1.11;
  letter-spacing: -0.02em;
} */
.logo-svg {
    /* position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%); */
    /* fill: #6d8434;
    stroke: #E8E8E2; 
 fill:  #E8E8E2; */
    /* stroke: #6d8434; */
    stroke: #010101; 
     fill: #010101;
    /* color: #010101; */
}
.ellipse-svg {
    /* position: relative; */
    /* fill: #6d8434; */
    /* stroke: #E8E8E2; */
    fill: #E8E8E2;
}
.logo-text {
    color: #e8e8e2;
    font-size: 18px;
    font-weight: 900;
    line-height: 1.11;
    letter-spacing: -0.02em;
}

.social {
  margin-bottom: 40px;
}
.social-list {
  display: flex;
  gap: 12px;
}

.social-svg {
    display: flex;
padding: 8px;
align-items: flex-start;
gap: 8px;
    border-radius: 10px;
border: 1px solid rgba(232, 232, 226, 0.30);
fill: #e8e8e2;
}
.company-motto {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 80px;
}
.company-motto h3 {
  color: #e8e8e2;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: -0.04em;
}
.company-motto p {
  color: rgba(232, 232, 226, 0.7);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
}

.subscription {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}
.subscription-form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.subscription-text {
  color: #e8e8e2;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
}
.subscription-input {
  color: rgba(232, 232, 226, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  border-radius: 30px;
  border: 1px solid #e8e8e2;
  padding: 12px 0px 12px 0px;
  align-items: center;
  max-width: 336px;
}

.subscription-input::placeholder {
  padding: 18px 12px 0px 12px;
}
.btn-subscription {
  color: #010101;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  border-radius: 30px;
  background: #e8e8e2;
  display: flex;
  max-width: 336px;
  padding: 12px;
  justify-content: center;
  align-items: center;
  border: none;
}
.btn-subscription :hover,
.btn-subscription :focus{
    color: #6d8434;
}
.footer-text {
  color: #e8e8e2;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-wrap: wrap;
  padding-bottom: 20px;
}
.rights {
}
.policy {
  display: flex;
  gap: 8px;
}

@media screen and (min-width: 375px) {
  .container {
    min-width: 335px;
  }
  .subscription {
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    min-width: 704px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .footer-wrap {
    display: flex;
    gap: 78px;
    margin-bottom: 120px;
  }
  .logo-social {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 44px;
  }
  .logo {
    margin-bottom: 0;
    padding-top: 0;
  }
  .motto-subscription {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }
  .social {
    margin-bottom: 0;
  }
  .company-motto {
    gap: 20px;
    margin-bottom: 64px;
  }
  .logo-text {
    font-family: FONTSPRING DEMO - Quincy CF Black;
    color: #e8e8e2;
    font-size: 24px;
    line-height: 1;
    letter-spacing: -0.04em;
  }
  .company-motto h3 {
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: -0.02em;
  }
  .company-motto p {
    font-size: 18px;
    line-height: 1.33;
  }
  .subscription {
    margin-bottom: 0;
  }
  .subscription-form {
    gap: 20px;
  }
  .subscription-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.33;
  }
  .subscription-input {
    font-size: 16px;
    line-height: 1.5;
    max-width: 336px;
  }
  .btn-subscription {
    font-size: 16px;
    line-height: 1.5;
    max-width: 336px;
  }
  .footer-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    min-width: 1240px;
    padding-left: 100px;
    padding-right: 100px;
  }
  .footer-wrap {
    display: flex;
    gap: 149px;
    margin-bottom: 128px;
  }
  .motto-subscription {
    display: flex;
    flex-direction: row;
    gap: 148px;
    justify-content: space-between;
  }
.company-motto {
    max-width: 410px;
}
.subscription {
    margin-right: 0 auto;
}
}


