ul,
p,
h1,
h2,
h3,
a {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.footer {
  background: var(--color-btn);
}
.footer-wrap.container {
  padding-left: 20px;
  padding-right: 20px;
}
.footer-logo {
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 20px;
}
.footer-logo-link {
  width: 28px;
  height: 28px;
}
.footer-svg {
  border-radius: 50%;
  margin: 0;
  background-color: var(--color-bckg);
  fill: var(--color-btn);
  padding: 6px;
  width: 28px;
  height: 28px;
}

.logo-text {
  font-family: 'Fontspring';
  color: var(--color-bckg);
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 1.11;
  letter-spacing: -0.02em;
}

.social {
  margin-bottom: 40px;
}
.logo-social {
  gap: 20px;
  padding-top: 40px;
}
.social-list {
  display: flex;
  gap: 12px;
}

.social-link {
  width: 40px;
  height: 40px;
}
.social-svg {
  display: flex;
  padding: 8px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 10px;
  border: 1px solid rgba(232, 232, 226, 0.3);
  fill: var(--color-bckg);
  width: 40px;
  height: 40px;
}
.social-svg:hover {
  background: rgba(232, 232, 226, 0.2);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.company-motto {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 80px;
}
.company-motto h3 {
  font-family: Neue Montreal;
  color: var(--color-bckg);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: -0.02em;
}
.company-motto p {
  font-family: Neue Montreal;
  color: rgba(232, 232, 226, 0.7);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.29;
}

.subscription {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}
.subscription-form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.subscription-text-footer {
  font-family: Neue Montreal;
  color: var(--color-bckg);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.29;
}
.subscription-input {
  background-color: var(--color-btn);
  color: var(--color-bckg);
  font-family: Neue Montreal;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.29;
  border-radius: 30px;
  border: 1px solid var(--color-bckg);
  padding: 12px 0px 12px 18px;
  align-items: center;
  max-width: 336px;
  height: 42px;
}

.subscription-input::placeholder {
  padding: 18px 12px 0px 0px;
  color: rgba(232, 232, 226, 0.6);
}
.btn-subscription {
  color: var(--color-text);
  font-family: Neue Montreal;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.29;
  border-radius: 30px;
  background: var(--color-bckg);
  display: flex;
  max-width: 336px;
  height: 42px;
  padding: 12px;
  justify-content: center;
  align-items: center;
  border: none;
}
.btn-subscription:hover {
  color: var(--color-btn);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-text.container {
  color: var(--color-bckg);
  font-family: Neue Montreal;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.29;
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-wrap: wrap;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.policy {
  display: flex;
  gap: 8px;
}

@media screen and (min-width: 375px) {
  .footer {
    min-width: 335px;
  }
  .subscription {
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 768px) {
  .footer-wrap.container {
    display: flex;
    gap: 78px;
    margin-bottom: 120px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .logo-social {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 40px;
    padding-top: 0;
  }
  .footer-logo {
    padding-bottom: 0;
    padding-top: 0;
    min-width: 197px;
  }
  .motto-subscription {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }
  .social {
    margin-bottom: 0;
  }
  .social-item {
    width: 44px;
    height: 44px;
  }
  .company-motto {
    gap: 20px;
    margin-bottom: 64px;
  }
  .logo-text {
    color: var(--color-bckg);
    font-size: 24px;
    line-height: 1;
    letter-spacing: -0.04em;
  }
  .company-motto h3 {
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: -0.02em;
  }
  .company-motto p {
    font-size: 18px;
    line-height: 1.33;
  }
  .subscription {
    margin-bottom: 0;
  }
  .subscription-form {
    gap: 20px;
  }
  .subscription-text-footer {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.33;
  }
  .subscription-input {
    font-size: 16px;
    line-height: 1.5;
    min-width: 336px;
    height: 48px;
  }
  .btn-subscription {
    font-size: 16px;
    line-height: 1.5;
    max-width: 336px;
    height: 48px;
  }
  .footer-text.container {
    padding-left: 32px;
    padding-right: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1440px) {
  .footer-wrap.container {
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    /* gap: 149px; */
    margin-bottom: 128px;
    justify-content: space-between;
  }

  .logo-text {
    font-style: normal;
    font-weight: 900;
  }

  .footer-svg {
    width: 32px;
    height: 32px;
  }

  .motto-subscription {
    display: flex;
    flex-direction: row;
    gap: 148px;
    justify-content: space-between;
  }
  .company-motto {
    max-width: 410px;
    margin-bottom: 0;
  }
  .subscription {
    margin-right: 0 auto;
  }
  .footer-text.container {
    padding-left: 100px;
    padding-right: 100px;
  }
}

/* ! MODAL STYLES */
.subscription-alert {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(46, 47, 66, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
.subscription-alert.is-hidden .subscription-modal {
  transform: translate(-50%, -50%) scaleY(0);
}

.subscription-modal-success {
  border-radius: 20px;
  background: var(--color-bckg);
  width: 280px;
  height: 400px;
  flex-shrink: 0;
  margin: 96px auto;
  display: block;
  position: relative;
}
.subscription-modal-already-subscribed {
  border-radius: 20px;
  background: var(--color-bckg);
  width: 280px;
  height: 400px;
  flex-shrink: 0;
  margin: 96px auto;
  display: block;
  position: relative;
}
.subscription-modal-fail {
  border-radius: 20px;
  background: var(--color-bckg);
  width: 280px;
  height: 400px;
  flex-shrink: 0;
  margin: 96px auto;
  display: block;
  position: relative;
}
.subscription-success-close-button {
  width: 22px;
  height: 22px;
  position: absolute;
  padding: 0;
  right: 14px;
  top: 14px;
  padding: 0;
  margin: 0;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.subscription-fail-close-button {
  width: 22px;
  height: 22px;
  position: absolute;
  padding: 0;
  right: 14px;
  top: 14px;
  padding: 0;
  margin: 0;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.subscription-already-close-button {
  width: 22px;
  height: 22px;
  position: absolute;
  padding: 0;
  right: 14px;
  top: 14px;
  padding: 0;
  margin: 0;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.subscription-success {
  display: none;
}
.subscription-success-text {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  margin: 100px 43px 22px 44px;
}
.subscription-thanks {
  color: var(--color-text);
  text-align: center;
  font-family: Neue Montreal;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2; /* 120% */
}
.subscription-highlight {
  color: var(--color-btn);
  font-family: Neue Montreal;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
}
.subscription-text {
  color: rgba(1, 1, 1, 0.7);
  text-align: center;
  font-family: Neue Montreal;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
}
.subscription-img {
  width: 280px;
  height: 144px;
  flex-shrink: 0;
  border-radius: 18.966px;
  background-image: url(/img/modal/subscribing.png),
    url(/img/modal/subscribing_2x.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.subscription-already-subscribed {
  display: none;
}
.subscription-fail-text {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  margin: 80px 43px 80px 44px;
  height: 108px;
}

.subscription-fail {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  margin: 80px 43px 80px 44px;
  display: none;
}

.none {
  display: none;
}
@media screen and (min-width: 375px) {
  .subscription-modal-success {
    width: 335px;
  }
  .subscription-modal-already-subscribed {
    width: 335px;
    height: 276px;
  }
  .subscription-modal-fail {
    width: 335px;
  }
  .subscription-img {
    width: 335px;
    height: 144px;
  }
}
@media screen and (min-width: 768px) {
  .subscription-success-close-button,
  .subscription-fail-close-button,
  .subscription-already-close-button {
    right: 24px;
    top: 24px;
  }
  .subscription-modal-success {
    width: 490px;
    height: 400px;
  }
  .subscription-modal-already-subscribed {
    width: 469px;
    height: 308px;
  }
  .subscription-modal-fail {
    width: 469px;
    height: 308px;
  }
  .subscription-fail-text {
    margin: 100px 60px;
    gap: 20px;
  }
  .subscription-fail-text .subscription-text {
    height: 40px;
    width: 349px;
  }
  .subscription-fail-text .subscription-thanks {
    height: 48px;
  }
  .subscription-fail .subscription-fail-text {
    margin: 100px 112px;
  }
  .subscription-thanks {
    font-size: 24px;
    width: 245px;
    line-height: 1;
  }
  .subscription-highlight {
    font-size: 24px;
    line-height: 1;
  }
  .subscription-text {
    font-size: 16px;
    width: 328px;
    height: 80px;
  }
  .subscription-success-text {
    gap: 20px;
    margin: 90px 81px 0px 81px;
  }
  .subscription-img {
    width: 490px;
    height: 159px;
    background-image: url(/img/modal/subscribing_desct.png),
      url(/img/modal/subscribing_desct_@2x.png);
    position: relative;
    margin-top: 3px;
  }
}
