ul,
p,
h1,
h2,
h3,
a {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.footer.container {
  padding-left: 20px;
  padding-right: 20px;
  background: #6d8434;
}
.footer-wrap {
  padding-top: 40px;
}

.footer-logo {
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 20px;
}
.footer-logo-link {
  width: 28px;
  height: 28px;
}
.footer-svg {
  border-radius: 50%;
  margin: 0;
  background-color: #e8e8e2;
  fill: #6d8434;
  padding: 6px;
  width: 28px;
  height: 28px;
}
.footer-use {
}
.logo-text {
  font-family: 'Fontspring';
  color: #e8e8e2;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 1.11;
  letter-spacing: -0.02em;
}

.social {
  margin-bottom: 40px;
}
.logo-social {
  gap: 20px;
}
.social-list {
  display: flex;
  gap: 12px;
}
.social-item {
}

.social-link {
  width: 40px;
  height: 40px;
}
.social-svg {
  display: flex;
  padding: 8px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 10px;
  border: 1px solid rgba(232, 232, 226, 0.3);
  fill: #e8e8e2;
  width: 40px;
  height: 40px;
}
.social-svg:hover {
background: rgba(232, 232, 226, 0.20);
}
.company-motto {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 80px;
}
.company-motto h3 {
  color: #e8e8e2;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: -0.04em;
}
.company-motto p {
  color: rgba(232, 232, 226, 0.7);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
}

.subscription {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}
.subscription-form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.subscription-text {
  color: #e8e8e2;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
}
.subscription-input {
  background-color: #6d8434;
  color: #e8e8e2;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  border-radius: 30px;
  border: 1px solid #e8e8e2;
  padding: 12px 0px 12px 12px;
  align-items: center;
  max-width: 336px;
}

.subscription-input::placeholder {
  padding: 18px 12px 0px 0px;
    color: rgba(232, 232, 226, 0.6);
}
.btn-subscription {
  color: #010101;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  border-radius: 30px;
  background: #e8e8e2;
  display: flex;
  max-width: 336px;
  padding: 12px;
  justify-content: center;
  align-items: center;
  border: none;
}
.btn-subscription:hover {
  color: #6d8434;
}
.footer-text {
  color: #e8e8e2;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-wrap: wrap;
  padding-bottom: 20px;
}
.rights {
}
.policy {
  display: flex;
  gap: 8px;
}

@media screen and (min-width: 375px) {
  .footer.container {
    min-width: 335px;
  }
  .subscription {
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 768px) {
  .foote.container {
    padding-left: 32px;
    padding-right: 32px;
  }
  .footer-wrap {
    display: flex;
    gap: 78px;
    margin-bottom: 120px;
  }
  .logo-social {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 44px;
  }
  .footer-logo {
    padding-bottom: 0;
    padding-top: 0;
    min-width: 197px;
  }
  .motto-subscription {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }
  .social {
    margin-bottom: 0;
  }
  .social-item {
    width: 44px;
    height: 44px;
  }
  .company-motto {
    gap: 20px;
    margin-bottom: 64px;
  }
  .logo-text {
    color: #e8e8e2;
    font-size: 24px;
    line-height: 1;
    letter-spacing: -0.04em;
  }
  .company-motto h3 {
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: -0.02em;
  }
  .company-motto p {
    font-size: 18px;
    line-height: 1.33;
  }
  .subscription {
    margin-bottom: 0;
  }
  .subscription-form {
    gap: 20px;
  }
  .subscription-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.33;
  }
  .subscription-input {
    font-size: 16px;
    line-height: 1.5;
    max-width: 336px;
  }
  .btn-subscription {
    font-size: 16px;
    line-height: 1.5;
    max-width: 336px;
  }
  .footer-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1440px) {
  .footer.container {
    padding-left: 100px;
    padding-right: 100px;
  }
  .footer-wrap {
    display: flex;
    /* gap: 149px; */
    margin-bottom: 128px;
    justify-content: space-between;
  }

  .logo-text {
    font-style: normal;
    font-weight: 900;
  }
  
.footer-svg {
  width: 32px;
  height: 32px;
}

  .motto-subscription {
    display: flex;
    flex-direction: row;
    gap: 148px;
    justify-content: space-between;
  }
  .company-motto {
    max-width: 410px;
  }
  .subscription {
    margin-right: 0 auto;
  }
}
