.logo-name {
    font-family: 'Fontspring';
    color: #010101;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 1.11;
    letter-spacing: -.02em;
    margin-left: 8px;
}

li {
    padding: 0;
    margin: 0;
}

.cart-counter {
    display: none;
}

.accent-word {
    color: #6D8434;
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    background: #6D8434;
    width: 28px;
    height: 28px;   
    padding: 6px 6px;
    border-radius: 50%;
    fill: #E8E8E2;
    padding-right: 8px;
    margin: 0;
}

.cart .logo-cart {
    background: #6D8434;
    width: 38px;
    height: 38px;   
    padding: 12px;
    border-radius: 50%;
    fill: #E8E8E2;
    margin-left: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cart:hover .logo-cart {
    background-color: #586F1F;
}


.header .container {
    padding: 18px 20px 36px 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-logo .logo {
    width: 32px;
    height: 32px;
    padding: 6px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.accent-word {
    color: #6D8434;
}

.nav-container {
    display: flex;
    justify-content: baseline;
    align-items: center;
}

.home {
    display: inline;
    background-color: #6D8434;
    color: #E8E8E2;
    border-radius: 30px;
    width: 77px;
    height: 38px;
    padding: 10px 20px;
}

@media screen and (min-width: 375px) {
    .header .container {
       width: 375px;
       padding-bottom: 36px;
    }
}

@media screen and (min-width: 768px) {
    .header .container {
        width: 768px;
        display: flex;
        justify-content: space-between;
        padding: 24px 32px 58px 32px;
    }

    .logo {
        width: 32px;
        height: 32px;
        padding: 6px;
    }

    .logo-name {
        font-size: 24px;
        line-height: 1em; /* 100% */
        letter-spacing: -0.48px;
    }

    .cart {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home {
        font-size: 18px;
        width: 104px;
        height: 48px;
    }

    .cart-counter {
        display: inline;
        color: #010101;
        font-family: 'NeueMontreal', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.33em; /* 133.333% */
        text-transform: uppercase;
        margin-left: 14px;
    }

    .cart .logo-cart {
        margin-left: 16px;
        padding: 10px;
        width: 38px;
        height: 38px;
    }

    .cart-counter {
        display: flex;
    }
}

@media screen and (min-width: 1440px) {
    .header .container {
        width: 1440px;
        padding: 24px 100px 58px 100px;
    }

    .logo-name {
        font-style: normal;
        font-weight: 900;
    }
}
