@font-face {
    font-family: 'Quincy CF Black Regular';
    src: url("https://db.onlinewebfonts.com/t/7026843a2afae35145b7544bfd004217.eot");
    src: url("https://db.onlinewebfonts.com/t/7026843a2afae35145b7544bfd004217.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/7026843a2afae35145b7544bfd004217.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/7026843a2afae35145b7544bfd004217.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/7026843a2afae35145b7544bfd004217.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/7026843a2afae35145b7544bfd004217.svg#Quincy CF Black Regular")format("svg");
}

li {
    padding: 0;
    margin: 0;
}

.cart-counter {
    display: none;
}

.accent-word {
    color: #6D8434;
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    background: #6D8434;
    width: 28px;
    height: 28px;   
    padding: 6px 6px;
    border-radius: 50%;
    fill: #E8E8E2;
    padding-right: 8px;
    margin: 0;
}

.logo-name {
    margin-left: 8px;
    font-size: 18px;
    font-weight: 700;
}

.logo-cart {
    background: #6D8434;
    width: 38px;
    height: 38px;   
    padding: 12px;
    border-radius: 50%;
    fill: #E8E8E2;
    margin-left: 8px;
}

.header .container {
    min-width: 375px;
    padding: 0 20px;
    /* height: 130px; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: 2px #6D8434 solid;
    padding-top: 18px;
  }

.accent-word {
    color: #6D8434;
}

.nav-container {
    display: flex;
    justify-content: baseline;
    align-items: center;
}

.home {
    display: inline;
    background-color: #6D8434;
    color: #E8E8E2;
    border-radius: 30px;
    width: 77px;
    height: 38px;
    padding: 10px 20px;
}

@media screen and (min-width: 375px) {
    .header .container {
       width: 343px;
       /* height: 130px; */
    }
}

@media screen and (min-width: 768px) {
    .header .container {
        width: 704px;
        display: flex;
        justify-content: space-between;
    }

    .logo {
        width: 32px;
        height: 32px;
        padding: 6px;
    }

    .logo-name {
        width: 157px;
        height: 24px;
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: 1em; /* 100% */
        letter-spacing: -0.48px;
    }

    
    .cart {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home {
        font-size: 18px;
        width: 104px;
        height: 48px;
    }

    .cart-counter {
        display: inline;
        color: #010101;
        font-family: 'NeueMontreal', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.33em; /* 133.333% */
        text-transform: uppercase;
        margin-left: 14px;
    }

    .logo-cart {
        margin-left: 16px;
        padding: 10px;
        width: 38px;
        height: 38px;
    }

    .cart-counter {
        display: flex;
    }
}

@media screen and (min-width: 1440px) {
    .header .container {
        width: 1440px;
        padding: 0 100px;
    }
}
