/* Hero Section */

.hero-section {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: 2px #6D8434 solid;
}

.hero-title {
    width: 335px;
    color: #010101;
    text-align: center;
    font-family: 'NeueMontreal', sans-serif;
    font-size: 44px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.09em; /* 109.091% */
    letter-spacing: -0.88px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-text {
    font-family: 'NeueMontreal';
    margin-top: 16px;
    margin-bottom: 32px;
    width: 292px;
    color: rgba(1, 1, 1, 0.80);
    text-align: center;
    /* font-family: 'NeueMontreal', sans-serif; */
    font-size: 14px;
    font-style: normal;
    font-weight: 200;
    line-height: 1.28em; /* 128.571% */
}

.accent-word {
    display: inline;
}

.hero-image {
    width: 335px;
    height: 480px;
    background-repeat: no-repeat;
    background-color: bisque;
    background-image: url(../img/header_hero_ing/hero-mob1.jpg), 
    url(../img/header_hero_ing/hero-mob1@2x.jpg);
    border-radius: 30px;

    position: relative;
}

.leaf-icon {
    position: absolute;

    fill: #010101;
    background-color: #FDC152;
    width: 100px;
    height: 100px;
    top: 31px;
    right: 46px;
    z-index: 999;
}

.organic-food {
    position: absolute;
    
    top: 31px;
    right: 46px;
    transform-origin: top right;
    transform: rotate(-45deg);
    white-space: nowrap;
}

@media screen and (min-width: 375px) {
    .hero-section {
        width: 375px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1440px) {
    .hero {
        height: 848px;
    }

    .hero-section {
        width: 704px;
        margin: 0 auto;
    }

    .hero-title {
        width: 658px;
    }

    .hero-image {
    width: 704px;
    height: 580px;
    background-image: url(../img/header_hero_ing/hero-tablet1.jpg), 
    url(../img/header_hero_ing/hero-tablet1@2x.jpg);
    border-radius: 50px;
    }
}

@media screen and (min-width: 1440px) {
    .hero-image {
        width: 1240px;
        height: 350px;
        background-image: url(../img/header_hero_ing/hero-desct1.jpg), 
        url(../img/header_hero_ing/hero-desct1@2x.jpg);
        border-radius: 50px;
    }

    .hero {
        padding-bottom: 37px;
    }
}