/* Hero Section */

.hero-section {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: 2px #6D8434 solid;
}

.hero-title {
    display: inline-block;
    /* width: 335px; */
    height: 95px;
    color: #010101;
    text-align: center;
    font-family: 'Neue Montreal';
    font-size: 44px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.09em; /* 109.091% */
    letter-spacing: -0.88px;
}

.accent-word {
    display: inline-block;
}

.hero-text {
    display: inline-block;
    font-family: 'Neue Montreal';
    margin-top: 16px;
    margin-bottom: 32px;
    width: 292px;
    color: rgba(1, 1, 1, 0.80);
    text-align: center;
    /* font-family: 'NeueMontreal', sans-serif; */
    font-size: 14px;
    font-style: normal;
    font-weight: 200;
    line-height: 1.28em; /* 128.571% */
}

.hero-image {
    width: 335px;
    height: 480px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: bisque;
    background-image: url(../img/header_hero_ing/hero-mob1.jpg), 
    url(../img/header_hero_ing/hero-mob1@2x.jpg);
    border-radius: 30px;

    position: relative;
}

.leaf {

    width: 24px;
    height: 24px;
    position: absolute;
    
    width: 100px;
    height: 100px;

    top: -30px;
    right: 10px;
}

.organic-food {
    position: absolute;
    
    width: 100px;
    height: 100px;

    top: -30px;
    right: 10px;

    z-index: 998;

    animation: rotateAnimation 6s linear infinite;
}



@keyframes rotateAnimation {
    0% {
        transform: rotate(360deg); /* Початкове положення іконки (0 градусів) */
    }
    100% {
        transform: rotate(0deg); /* Кінцеве положення іконки (360 градусів) */
    }
}

/* Add animation */
/* @media screen and (min-width: 375px) {
    .hero-section {
        width: 375px;
    }
} */

@media screen and (min-width: 768px) and (max-width: 1440px) {
    .hero-section {
        width: 704px;
        margin: 0 auto;
    }

    .hero-title {
        width: 658px;
        font-size: 80px;
        height: 160px;  
    }

    .hero-text {
        margin-top: 25px;
        width: 492px;
    }

    .hero-image {
    width: 704px;
    height: 580px;
    background-image: url(../img/header_hero_ing/hero-tablet1.jpg), 
    url(../img/header_hero_ing/hero-tablet1@2x.jpg);
    border-radius: 50px;
    }
}

@media screen and (min-width: 1440px) {
    .hero-image {
        width: 1240px;
        height: 350px;
        background-image: url(../img/header_hero_ing/hero-desct1.jpg), 
        url(../img/header_hero_ing/hero-desct1@2x.jpg);
        border-radius: 50px;
    }

    .hero-section {
        width: 1240px;
        margin: 0 auto;
    }

    .hero {
        padding-bottom: 37px;
    }
    
    .hero-title {
        width: 1042px;
        height: 80px;
        display: inline;
        white-space: nowrap;
    }
}