/* button {
  border: 1px solid #4b96e6;
  outline: none;
  background: #4b96e6;
  color: white;
  padding: 8px 15px;
  border-radius: 5px;
  margin-top: 10px; 
} */

.paginationDop {
  display: none;
}

.tui-page-btn .tui-last {
  display: none !important;
}
.tui-pagination {
  width: 288px !important;
  height: 40px !important;
  margin: 0px auto !important;
  display: flex;
  gap: 4px;
  line-height: normal;
  text-align: center;
  font-size: 0;
  justify-content: center;
}

@media screen and (min-width: 375px) {
  .tui-pagination {
    width: 334px !important;
  }
}

@media screen and (min-width: 768px) {
  .tui-pagination {
    width: 472px !important;
    height: 40px !important;
    gap: 8px;
    /* margin: 0px auto 100px auto !important; */
  }
}

@media screen and (min-width: 1440px) {
  .tui-pagination {
    width: 472px !important;
    height: 40px !important;
    margin: 0px auto !important;
  }
}

.tui-page-btn {
  width: 40px !important;
  height: 40px !important;
  text-align: center !important;
  border-radius: 60px !important;
  /* margin-left: 4px !important; */
}

@media screen and (min-width: 768px) {
  .tui-page-btn {
    width: 40px !important;
    height: 40px !important;
  }
}

.tui-ico-prev .tui-ico-next {
  color: #a3a3a3 !important;
  text-align: center !important;
}

.tui-next {
  background-color: #fafafa !important;
  text-align: center !important;
  border-radius: 60px;
  display: flex;
}

.tui-prev {
  background-color: #fafafa !important;
  text-align: center !important;
  margin-right: 0px !important;
}

.tui-pagination .tui-is-selected,
.tui-pagination strong {
  background: #6d8434 !important;
  border-color: #6d8434 !important;
}

.tui-first {
  margin-left: 0px !important;
}

.tui-pagination .tui-prev {
  margin-right: 15px !important;
  padding-top: 8px !important;
}
@media screen and (min-width: 768px) {
  .tui-pagination .tui-prev {
    margin-right: 80px !important;
  }
  .tui-pagination .tui-next {
    margin-left: 80px !important;
  }
}

.tui-pagination .tui-next {
  margin-left: 15px !important;
  padding-top: 8px !important;
}
@media screen and (min-width: 768px) {
  .tui-pagination .tui-next {
    margin-left: 80px !important;
  }
}
.tui-pagination .tui-next-is-ellip {
  padding-top: 8px !important;
}
.tui-pagination .tui-prev-is-ellip {
  padding-top: 8px !important;
}

.tui-ico-ellip {
  color: #a3a3a3 !important;
}
