.container-pl {
  display: flex;
  margin-top: 40px;
}

.error-load {
  width: 279px;
  display: none;
  flex-direction: column;
  text-align: center;
  gap: 14px;
}

.not-found-heading {
  color: #010101;
  font-size: 18px;
  line-height: 1.11em;
}

.not-found-message {
  color: rgba(1, 1, 1, 0.7);
  font-size: 14px;
  line-height: 1.29em;
}

.green-word {
  color: #6d8434;
}

.product-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  background-color: #e8e8e2;
  gap: 20px;
}
.list-pl {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 20px;
}
.item-pl {
  max-width: 335px;
  border-radius: 20px;
  background: #fafafa;
  padding: 20px;
  /* outline: 2px solid tomato; */
}
.background-img-pl {
  display: flex;
  justify-content: center;
  padding-top: 19px;
  padding-bottom: 19px;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: #e8e8e2;
}
.img-pl {
  display: inline;
  width: 140px;
  height: 140px;
}
.product-name-pl {
  margin-bottom: 10px;
  color: #010101;
  font-family: Neue Montreal;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2em; /* 120% */
}
.product-info-pl {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 9px;
}
.paragraph-pl {
  color: rgba(1, 1, 1, 0.3);
  font-family: Neue Montreal;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17em; /* 116.667% */
}
.value-pl {
  color: #010101;
  font-family: Neue Montreal;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17em; /* 116.667% */
}
.price-container-pl {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.price-pl {
  color: #010101;
  font-family: Neue Montreal;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.1em; /* 120% */
}
.btn-pl {
  width: 34px;
  height: 34px;
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  background: #6d8434;
  cursor: pointer;
  /* transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
}
.icon-pl {
  fill: #e8e8e2;
}

@media screen and (min-width: 768px) {
  .product-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    gap: 32px;
    width: 804px;
  }

  .price-pl {
    font-size: 20px;
    line-height: 1.2em;
  }

  .item-pl {
    width: 336px;
  }
}

@media screen and (min-width: 1440px) {
  .container-pl {
    justify-content: start;
  }

  .item-pl {
    width: 295px;
  }
  .product-list {
    gap: 40px 20px;
    width: 925px;
  }
  .product-info-pl {
    margin-bottom: 20px;
    height: 37px;
  }
}
