/* *******************************************повідомлення "нічого не знайдено"************************** */
.error-load {
  width: 279px;
  display: flex;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 100px;
  flex-direction: column;
  text-align: center;
  gap: 14px;
}

.open-modal {
  cursor: pointer;
}
.not-found-heading {
  color: #010101;
  font-size: 18px;
  line-height: 1.11em;
}

.not-found-message {
  color: rgba(1, 1, 1, 0.7);
  font-size: 14px;
  line-height: 1.29em;
}
.green-word {
  color: #6d8434;
}
/* **************************************кінець повідомлення*********************************** */

/* *******************************************Карточка************************************** */
.product-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  background-color: #e8e8e2;
  gap: 20px;
}

.item-pl {
  position: relative;
  max-width: 335px;
  border-radius: 20px;
  background: #fafafa;
  padding: 20px;
}
.background-img-pl {
  display: flex;
  justify-content: center;
  padding-top: 19px;
  padding-bottom: 19px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #e8e8e2;
}
.img-pl {
  display: inline;
  width: 140px;
  height: 140px;
}
.product-name-pl {
  margin-bottom: 10px;
  color: #010101;
  font-family: Neue Montreal;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2em; /* 120% */
}
.product-info-pl {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 9px;
}
.paragraph-pl {
  color: rgba(1, 1, 1, 0.3);
  font-family: Neue Montreal;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17em; /* 116.667% */
}
.value-pl {
  color: #010101;
  font-family: Neue Montreal;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17em; /* 116.667% */
}
.price-container-pl {
  display: flex;
  height: 34px;
  align-items: flex-end;
  justify-content: space-between;
}
.price-pl {
  color: #010101;
  font-family: Neue Montreal;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.1em; /* 120% */
}
.btn-pl {
  width: 34px;
  height: 34px;
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  background-color: #6d8434;
  cursor: pointer;
}
.btn-pl:hover,
.btn-pl:focus {
  background-color: #586f1f;
}
.btn-pl:disabled {
  background-color: #6d8434;
  cursor: auto;
}

.icon-pl {
  fill: #e8e8e2;
  width: 18px;
  height: 18px;
}
.icon-discount-pl {
  position: absolute;
  top: 0%;
  right: 3%;
  width: 60px;
  height: 60px;
}
/* ***************************************кінець карточки*******************************8 */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-products {
  position: relative;
  max-width: 375px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .section-products {
    max-width: 768px;
  }
  .container-pl {
    width: 704px;
  }

  .product-list {
    max-width: 768px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    gap: 32px;
    margin-bottom: 50px;
  }

  .price-pl {
    font-size: 20px;
    line-height: 1.2em;
  }

  .item-pl {
    width: calc((100% - 32px) / 2);
  }

  .error-load {
    width: 367px;
    margin-top: 110px;
    margin-bottom: 250px;
  }
  .not-found-heading {
    font-size: 20px;
    line-height: 1.2em;
    font-family: Neue Montreal;
  }
  .not-found-message {
    font-size: 18px;
    font-family: Neue Montreal;
    line-height: 1.33em;
  }
}

@media screen and (min-width: 1440px) {
  .section-products {
    max-width: 1440px;
  }
  .container-pl {
    justify-content: start;
    width: 925px;
  }

  .item-pl {
    width: calc((100% - 40px) / 3);
  }
  .product-list {
    gap: 40px 20px;
    max-width: 925px;
  }
  .product-info-pl {
    margin-bottom: 20px;
    height: 37px;
  }
  .error-load {
    margin-top: 150px;
  }

  .not-found-heading {
    font-family: Neue Montreal;
    font-size: 20px;
    width: 371px;
  }

  .not-found-message {
    font-family: Neue Montreal;
    font-size: 18px;
    width: 371px;
  }
}
