/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

@import url('./filters.css');
@import url('./discproducts.css');
@import url('./footer.css');
@import url('./heroheader.css');
@import url('./modalwindow.css');
@import url('./pagination.css');
@import url('./popproducts.css');
@import url('./products.css');
/* test */

@font-face {
  font-family: 'NeueMontreal';
  src: url('../fonts/NeueMontreal.ttf') format('truetype');
  font-display: swap;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
